CMS_Tools/Connected Services/muathe24h/MechantServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TopupMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isPrePay" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="trace" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TopupMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TopupMobileResult" type="tns:APIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APIResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RepCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserCredentials" type="tns:UserCredentials" />
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="BuyCards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telco" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyCardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyCardsResult" type="tns:APIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChotCaCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChotCaCHEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChotCaCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChotCaCHResult" type="tns:ChotCaCHEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TopupMobileSoapIn">
    <wsdl:part name="parameters" element="tns:TopupMobile" />
  </wsdl:message>
  <wsdl:message name="TopupMobileSoapOut">
    <wsdl:part name="parameters" element="tns:TopupMobileResponse" />
  </wsdl:message>
  <wsdl:message name="TopupMobileUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="BuyCardsSoapIn">
    <wsdl:part name="parameters" element="tns:BuyCards" />
  </wsdl:message>
  <wsdl:message name="BuyCardsSoapOut">
    <wsdl:part name="parameters" element="tns:BuyCardsResponse" />
  </wsdl:message>
  <wsdl:message name="BuyCardsUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="ChotCaCHSoapIn">
    <wsdl:part name="parameters" element="tns:ChotCaCH" />
  </wsdl:message>
  <wsdl:message name="ChotCaCHSoapOut">
    <wsdl:part name="parameters" element="tns:ChotCaCHResponse" />
  </wsdl:message>
  <wsdl:message name="ChotCaCHUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:portType name="MechantServicesSoap">
    <wsdl:operation name="TopupMobile">
      <wsdl:input message="tns:TopupMobileSoapIn" />
      <wsdl:output message="tns:TopupMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyCards">
      <wsdl:input message="tns:BuyCardsSoapIn" />
      <wsdl:output message="tns:BuyCardsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChotCaCH">
      <wsdl:input message="tns:ChotCaCHSoapIn" />
      <wsdl:output message="tns:ChotCaCHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MechantServicesSoap" type="tns:MechantServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TopupMobile">
      <soap:operation soapAction="http://tempuri.org/TopupMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:TopupMobileUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyCards">
      <soap:operation soapAction="http://tempuri.org/BuyCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:BuyCardsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChotCaCH">
      <soap:operation soapAction="http://tempuri.org/ChotCaCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChotCaCHUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MechantServicesSoap12" type="tns:MechantServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TopupMobile">
      <soap12:operation soapAction="http://tempuri.org/TopupMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:TopupMobileUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyCards">
      <soap12:operation soapAction="http://tempuri.org/BuyCards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:BuyCardsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChotCaCH">
      <soap12:operation soapAction="http://tempuri.org/ChotCaCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChotCaCHUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MechantServices">
    <wsdl:port name="MechantServicesSoap" binding="tns:MechantServicesSoap">
      <soap:address location="https://muathe24h.vn/MechantServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MechantServicesSoap12" binding="tns:MechantServicesSoap12">
      <soap12:address location="https://muathe24h.vn/MechantServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>